<section class="py-20 bg-cyan-100 mt-20">

@if(videoUrl()){

<section class="relative w-full overflow-hidden aspect-video">

<video
autoplay
muted
loop
playsinline
disablePictureInPicture
controlsList="nodownload nofullscreen noremoteplayback"
class="absolute top-0 left-0 w-full h-full object-cover pointer-events-none"
>

<source
[src]="getVideoUrl(videoUrl())"
type="video/mp4"
/>

</video>

</section>

}

<div class="max-w-7xl mx-auto px-4 mt-6">

<input
type="text"
placeholder="Search products..."
[formControl]="searchControl"
class="w-full p-3 border rounded-lg mb-8"
/>

</div>

<div class="max-w-7xl mx-auto grid gap-6 px-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

@for (pro of filteredProducts(); track pro.id) {

<div class="bg-white rounded-xl shadow-sm hover:shadow-xl hover:-translate-y-1 transition duration-300 flex flex-col relative">

@if(pro.offer){

<div class="absolute top-3 left-3 bg-red-500 text-white text-xs px-3 py-1 rounded-full shadow z-10">

🔥 Buy {{ pro.offer.buyQuantity }} Get {{ pro.offer.getQuantity }}

</div>

}

<div class="aspect-square bg-gray-100 rounded-t-xl overflow-hidden">

@if (pro.picturesUrls && pro.picturesUrls.length) {

<img
[src]="getImageUrl(pro.picturesUrls[0])"
alt="product image"
class="w-full h-full object-cover"
/>

}

</div>

<div class="p-4 flex flex-col flex-grow">

<p class="text-gray-400 text-sm truncate mb-1">
Category: {{ pro.categoryId }}
</p>

<h3 class="font-semibold text-lg truncate">
{{ pro.name }}
</h3>

<p class="text-sm text-gray-500">
Stock: {{ pro.stock }}
</p>

<p class="text-sm text-gray-500 mb-2">
Sold: {{ pro.soldNumber }}
</p>

<div class="flex items-center text-sm mb-3">

<span class="text-yellow-500 mr-1">⭐</span>

<span class="text-gray-700">
{{ pro.rate }}
</span>

</div>

<div class="flex items-center justify-between mt-auto">

<span class="font-bold text-cyan-600 text-lg">
{{ pro.price }} EGP
</span>

<div class="flex gap-2">

<button
[routerLink]="['/product-details', pro.id]"
class="bg-gray-200 px-3 py-1 rounded hover:bg-gray-300 transition text-sm">

View

</button>

<button
(click)="addToCart(pro)"
class="bg-[#2D465E] text-white px-3 py-1 rounded hover:bg-[#1f3346] transition text-sm">

Add

</button>

</div>

</div>

</div>

</div>

}

</div>

</section>