<!-- Navbar -->
<header class="fixed top-0 inset-x-0 z-50 bg-gradient-to-r from-cyan-500 to-cyan-400 shadow-lg transition-all duration-300" [class.p-4]="!isScrolling">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <!-- <img src="/Images/Logo.png" class="h-14" alt="Logo" /> -->

<nav class="hidden md:flex items-center gap-8 text-white font-medium">

  <a routerLink="/home" class="hover:text-cyan-100">
    الرئيسية
  </a>

  <a routerLink="/categories" class="hover:text-cyan-100">
    الاقسام
  </a>
  <a routerLink="/categories-offers" class="hover:text-cyan-100">
    العروض
  </a>

  <a routerLink="/contact" class="hover:text-cyan-100">
    تواصل معنا
  </a>

  <a routerLink="/cart"
     class="cart-link active flex items-center gap-2 relative">

    <i class="fas fa-shopping-cart"></i>

    <span class="cart-count">
    </span>

  </a>

</nav>



    <button class="md:hidden text-white text-2xl">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</header>
